:root {
  --PrimaryColorEmeraldGreen: hsl(145, 63%, 49%);
  --PrimaryColorTealBlue: hsl(180, 100%, 25%);
  --SecondaryColorSunflowerYellow: hsl(45, 100%, 51%);
  --SecondaryColorSoftOrange: hsl(29, 100%, 63%);
  --AccentColorCoralRed: hsl(0, 100%, 71%);
  --AccentColorWarmPink: hsl(343, 100%, 65%);
  --AccentColorNavyBlue: hsl(240, 28%, 14%);
  --HoverSunflowerYellow: hsl(45, 97%, 60%);
  --HoverNavyBlue: hsl(240, 21%, 17%);
  --HoverEmeraldGreen: hsl(145, 85%, 58%);
}

.head-text {
  margin-bottom: 1rem;
}

.close-btn {
  background: var(--AccentColorCoralRed);
  margin-right: 1.5rem;
  border-radius: 5px;

}

.save-btn {
  background: var(--PrimaryColorEmeraldGreen);

  &:hover {
    background: var(--HoverEmeraldGreen);
  }
}