@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.welcome-container {
    width: 40%;
    position: relative;
}

.signup-image {
    height: 100vh; 
    width: 100%;  
    object-fit: cover;
    filter: brightness(60%);
}

.logo-container {
    width: 100%;
    position: absolute;
    top: 14%;
    padding-left: 40px;

    display: flex;
    font-size: 52px;
}

.introductory {
    position: absolute;
    top: 40%;
    padding-left: 40px;
    padding-right: 40px;
    
    color: white;
    font-size: 20px;
    font-weight: bold;
}